@import "bootstrap"
#s1
  background: #ecf0f1
#s2
  background: #1abc9c
#s3
  background: #e67e22
#s4
  background: #9b59b6
#s5
  background: #f1c40f
body
  font-size: 0px
.summary
  section
    width: 40%
    padding: 2% 5%
    height: 20%
    overflow-y: hidden
    min-height: 0
.animate
  section
    position: absolute
section
  //@include transition(all 2.0s ease-in-out)
  font-size: 14px
  min-height: 300px
  padding: 2% 5%
  width: 100%
  display: inline-block
  background: pink
