doctype html
html(lang="en")
  head
    meta(content='black-translucent' name='apple-mobile-web-app-status-bar-style')
    meta(content='yes' name='apple-mobile-web-app-capable')
    meta(content='width=device-width, initial-scale=1.0' name='viewport')
    link(rel="stylesheet" href="/index.css")
    title Luc Boissaye - #{title}
  body !{content}
