doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet" href="app.css")
  body
    section
      h1 Bonjour ! I am Luc.
      p I am passionate about creating software people use and discovering the world.
    section
      h1 Experiences
      .experience
        h3 SharinPix
        p.when Since March 2015
        p.where Paris and Mauritius
        p.what Conceived and developed an image management system integrated into salesforce.
      .experience
        h3 Famoco
        p.when 2 months
        p.where Paris
        p.what Created a prototype of an offline mobile app synchronized with salesforce.
      .experience
        h3 Agorize
        p.when 2 years from November 2012 to October 2014
        p.where Paris
        p.what Evolved a generic service for challenge management provided to Google, Bank of America, Microsoft, Canal+, PagesJaunes...
      .experience
        h3 Gutenberg technology
        p.when One year from in may 2011 to november 2012
        p.where Paris and San Francisco
        p.what Conceived and developed a platform to publish book on multi-support (print-web-tablet)
    section.education
      h1 Education
      .eduction
        h3 GRENOBLE INSTITUTE OF TECHNOLOGY - ENSIMAG
        p.when from 2009 to 2012
        p.where Grenoble and Singapore
        p.what Engineering of Information Systems, master degree with mention bien
      p.more
        I learned computer sciences (algorithms, computer architecture, language theory, databases...) and mathematics (probabilities, statistics, analysis,...)
        I also participated in a research project(link) and made a semester in Singapore.

        Before I did Scientific Preparatory class where I studied Math and Physics at lycee ORT in Strasbourg and had my Scientific Baccalauréat Speciality Mathematics, Option Engineering sciences, Mention Bien in Saint-Louis Alsace
    section
      h1 Skills
      .skill
        h3 Software
        p I am passionate about software developement techniques particularly test driven development and extreme programming.
      .skill
        h3 Web
        p I know web technologies and know how to make fast responsive websites.
      .skill
        h3 Tooling
        p I know and use git, vim, ubuntu and OSX.
      .skill
        h3 Deployment
        p I am very familiar with heroku ecosystem and previously managed virtual servers in production.
      .skill
        h3 Math
        p I have a strong background in mathematics particularly statistics, probabilities, linear algebra and analysis
      .skill 
        h3 Languages
        p English - Fluent
        p Spanish - I can express myself and understand common situations.
    section
      h1 Technologies
      p I like to create :
        ul
          li develop RubyOnRails backend tested with rspec
          li use AngularJS to create fast single wepage app.
          li Style crossbrowser responsive webpage with sass, bourbon and bootstrap
          li Host fast and scalable applications on Heroku with Amazon cloudfront, route53 and S3
          li write scipts packed with regular expressions to improve my life
          li create mobile apps with ionic
    script(src="app.js")
